## 함수 구현 및 호출과 markdown 문서 작업 연습

```
신기전
*표현식
1. 따옴표 3개
python 언어의 여러 라인 표현
다중 라인 문자열 표현하는 주석

2. Markdown 표기
    -모든 언어의 문서화 작업시 사용되는 표현법
    -다양한 표기법
        1. #
        2. `
        3. 숫자
        4. -
        5. [x]문구
```

In [2]:
# 함수 구현 - 두개의 숫자를 받아서 합을 구한 후 호출한 곳으로 리턴하기

In [7]:
#함수 호출
'''
1. 사용자 저의 함수 구현 문법
-사용자 정의 : python언어를 통해서
개발자가 직접 만드는 것을 의미

def 함수명( [argument1, argument2, ...]):
    로직
    return 값
'''
def sum(v1, v2):
    return v1 + v2

In [9]:
def sum2(v1, v2, v3):
    return v1 + v2 + v3

In [12]:
print(sum2(10, 20, 30))

60

In [18]:
# parameter로 받은 데이터 선생님이 경우엔 잔인자 라고 출력
# 학생인 경우 고수 라고 출력
def checkData(V):
    if V == '선생님':
        print('잔인자')
    elif V == '학생':
        print('고수')
    else:
        print('Your Face')
checkData('선생님')

잔인자

In [22]:
'''
2. python 자체가 제공하는 내장 함수 활용
'''
# 2-1. 연속된 수를 표현하는 함수 : range()
v = range(1,5)
print(v)

range(1, 5)

In [23]:
for i in v:    #?  5
    print(i)   #?  5

1
2
3
4

In [24]:
# 데이터를 출력시에 index(숫자로 표현하는 순서)가 적용되서 
# 순서에 맞는 숫자값도 출력
list = ['이주환', '이온유', '이영후']
list

['이주환', '이온유', '이영후']

In [25]:
v = enumerate(list)
v

In [26]:
for index, value in v:
    print(index, value)

0 이주환
1 이온유
2 이영후

In [28]:
'''
range()와 enumerate() 함수를 조합해서 데이터는 자유롭게 작업 후에 결과값 출력하기
'''
x = ['니', '얼', '굴']
y = enumerate(x)
for index, value in y:
    print(index, value)

0 니
1 얼
2 굴